<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Exchange 2018 : Ask the Experts</title>
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	margin-left: 0%;
	margin-top: 5%;
	margin-right: 0%;
	margin-bottom: 5%;
}
</style>
<link href="assets/gmCSS2_Form.css" rel="stylesheet" type="text/css">
</head>

<body onLoad="MM_preloadImages('images/welcome2.png','images/plc2.png','images/metering2.png','images/mdms2.png','images/da2.png','images/cc2.png','images/orange1.png','images/LGlogo2.png','images/ping1.png','images/alm2.png','images/ask2.png','images/please2.png')">
<table width="692" border="0" align="center">
  <tbody>
    <tr>
      <td width="692" align="center" valign="middle"><p>&nbsp;</p>
        <img src="images/index_header.png"/>
      </td>
    </tr>
    <tr>
      <td width="692" align="center" valign="middle"><p>&nbsp;</p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="232"><a href="" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('welcome','','images/welcome2.png',1)"><img src="images/welcome1.png" alt="Welcome to Exchange 2018!" width="232" height="111" id="welcome"></a></td>
                    <td width="232"><a href="" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','images/ask2.png',1)"><img src="images/ask1.png" alt="Ask the experts" width="232" height="111" id="Image12"></a></td>
                    <td width="227"><a href="" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('category','','images/please2.png',1)"><img src="images/please1.png" alt="Please select the category" width="227" height="111" id="category"></a></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="115"><a href="#contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('alm','','images/alm2.png',1)"><img src="images/alm1.png" alt="Advanced Load Management Questions" width="115" height="116" id="alm" onClick="document.getElementById('form_i').style.display = 'table';document.getElementById('contact_category').value='ALM'" ></a></td>
                    <td width="115"><a href="#contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('plc','','images/plc2.png',1)"><img src="images/plc1.png" alt="Power Line Carriers" width="115" height="116" id="plc" onClick="document.getElementById('form_i').style.display = 'table';document.getElementById('contact_category').value='PLC'"></a></td>
                    <td width="232"><a href="#contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('metering','','images/metering2.png',1)"><img src="images/metering1.png" alt="Metering Questions" width="232" height="116" id="metering" onClick="document.getElementById('form_i').style.display = 'table';document.getElementById('contact_category').value='Meterin'"></a></td>
                    <td width="116"><a href="#contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('mdms','','images/mdms2.png',1)"><img src="images/mdms1.png" alt="MDMS Questions" width="116" height="116" id="mdms" onClick="document.getElementById('form_i').style.display = 'table';document.getElementById('contact_category').value='MDMS'"></a></td>
                    <td><a href="#contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('da','','images/da2.png',1)"><img src="images/da1.png" alt="Distribution Automation" width="110" height="116" id="da" onClick="document.getElementById('form_i').style.display = 'table';document.getElementById('contact_category').value='DA'"></a></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="232"><a href="#contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('cc','','images/cc2.png',1)"><img src="images/cc1.png" alt="Command Center and AMI RF Questions" width="232" height="116" id="cc" onClick="document.getElementById('form_i').style.display = 'table';document.getElementById('contact_category').value='CC'"></a></td>
                    <td width="111"><a href="" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('orange','','images/orange1.png',1)"><img src="images/orange1.png" alt="Blank" width="111" height="116" id="orange"></a></td>
                    <td width="237"><a href="" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('lglogo','','images/LGlogo2.png',1)"><img src="images/LGlogo1.png" alt="Manage Energy Better!" width="237" height="116" id="lglogo"></a></td>
                    <td><a href="" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('pink','','images/ping1.png',1)"><img src="images/ping1.png" alt="ping" width="111" height="116" id="pink"></a></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0" id="form_i" hidden>
                <tbody>
                  <tr>
                    <td height="842" align="center" valign="middle" bgcolor="#4CAF50"><div class="container">  
  <form id="contact" action="/thankyou" method="post">
    <h3>Enter your Details</h3>
    <h4>so our experts can assist you better</h4>
    <fieldset>
      <input name="contact_name" type="text" autofocus required id="contact_name" placeholder="Your name" tabindex="1">
    </fieldset>
    <fieldset>
      <input name="contact_email" type="email" required id="contact_email" placeholder="Your Email Address" tabindex="2">
    </fieldset>
    <fieldset>
      <select name="contact_customer" id="contact_customer" style="max-width:90%">
        <option value="Ameren IL">Ameren IL</option>
        <option value="Ameren MO">Ameren MO</option>
        <option value="PSE&amp;G">PSE&amp;G</option>
        <option value="Clay Electric">Clay Electric</option>
        <option value="Tuscon Electric">Tuscon Electric</option>
        <option value="Huntsville">Huntsville</option>
        <option value="Greystone">Greystone</option>
        <option value="Santee Cooper">Santee Cooper</option>
        <option value="Oncor">Oncor</option>
        <option value="Austin Energy">Austin Energy</option>
        <option value="Xcel">Xcel</option>
  </select>
    </fieldset>
	  <fieldset> 
	  <select name="contact_category" id="contact_category">
	    <option value="ALM">ALM</option>
	    <option value="PLC">PLC</option>
	    <option value="Meterin">Metering</option>
	    <option value="MDMS">MDMS</option>
	    <option value="DA">DA</option>
	    <option value="CC">Command Center</option>
	  </select>
	  </fieldset>
    <fieldset>
      <textarea name="contact_question" placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="contact_submit" type="submit" id="contact_submit" data-submit="...Sending">Submit</button>
    </fieldset>
	  <fieldset>
		<button name="contact_reset" type="reset"  id="contact_reset" form="contact" value="Reset"> Reset </button>
	  </fieldset>
  </form><a href="/expertview" style="color: #4CAF50">Expert View
					</div>
					</td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
