html
	head
		title Thank You
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		style
			include ../public/assets/gmCSS1.css

	body
		h1 Thank You!
		h2 The record has been updated.
		script.
			$(document).ready(function () {
			window.setTimeout(function () {
			location.href = "/expertview";
			}, 2000);
			});